
<div class="popup" role="alertdialog" id="warning" style="display: block; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 100px;">
  <div class="panel">
    <a class="modal_close" {{action 'close'}}>x</a>
    <h2>Schedule Payment</h2>
    <ul ui-implements='form' class='list'>
      <li class='comp'>
        <div>
          <label for='userName'>Email:</label>
        </div>
        <aside>
          {{input value=payer_email class="payment-payer_email form-control"}}
        </aside>
      </li>
      <li class='comp'>
        <div>
          <label for='password'>Amount:</label>
        </div>
        <aside>
          {{input value=amount_cents class="payment-amount_cents form-control"}}
        </aside>
      </li>
      <li class='comp'>
        <div>
          <label for='password'>Description:</label>
        </div>
        <aside>
          {{input value=description class="payment-description form-control"}}
        </aside>
      </li>
      <li class='comp'>
        <div>
          <label for='password'>Date:</label>
        </div>
        <aside>
          {{input value=payment_at class="payment-payment_at form-control"}}
        </aside>
      </li>
    </ul>
    <div>
      <br><br>
      <a type="submit" {{action save}} class="create button">Submit</a>
      <a class="button" {{action 'close'}}>Cancel</a>
    </div>
  </div>
</div>

{{!-- <div id="signup" style="display: block; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 100px;">
  <a class="modal_close" {{action 'close'}}>x</a>
  <div class="form-group has-success">
    <label class="control-label">Email
      {{input value=payer_email class="payment-payer_email form-control"}}
    </label>
  </div>
  <div class="form-group has-warning">
    <label class="control-label">Amount
      {{input value=amount_cents class="payment-amount_cents form-control"}}
    </label>
  </div>
  <div class="form-group has-error">
    <label class="control-label">Description
      {{input value=description class="payment-description form-control"}}
    </label>
  </div>
  <div class="form-group has-error">
    <label class="control-label">Collector_id
      {{input value=collector_id class="payment-collector_id form-control"}}
    </label>
  </div>
  <div class="form-group has-error">
    <label class="control-label">Date
      {{input value=payment_at class="payment-payment_at form-control"}}
    </label>
  </div>

  <button type="submit" {{action save}} class="create btn btn-default">Submit</button>
  <button type="submit" {{action cancel}} class="cancel btn btn-default">Cancel</button>
</div> --}}
