<article id="some-id">
  <section>
    <ul class='list'>
      <li class='comp'>
        <div>
          <h3>Description</h3>
        </div>
        <aside>
          <h4>{{description}}</h4>
        </aside>
      </li>
      <li class='comp'>
        <div>
          <h3>Sent To</h3>
        </div>
        <aside>
          <h4>{{payer_email}}</h4>
        </aside>
      </li>
      <li class='comp'>
        <div>
          <h3>Payer ID</h3>
        </div>
        <aside>
          <h4>{{payer_id}}</h4>
        </aside>
      </li>
      <li class='comp'>
        <div>
          <h3>Collector ID</h3>
        </div>
        <aside>
          <h4>{{collector_id}}</h4>
        </aside>
      </li>
      <li class='comp'>
        <div>
          <h3>Amount</h3>
        </div>
        <aside>
          <h4>{{amount_cents}}</h4>
        </aside>
      </li>
      <li class='comp'>
        <div>
          <h3>Approved</h3>
        </div>
        <aside>
          <h4>{{approved}}</h4>
        </aside>
      </li>
    </ul>

    <a class="button action">Send Invite</a>
  </section>
</article>
