<nav class="current">
  <h1 class="buttonOnRight">Skedular</h1>
  Logged In As: {{currentUser.email}}
  {{#if isSignedIn}}
    <a class="button" {{action "signOut" on='click'}}>Logout</a>
  {{else}}
    {{link-to "Sign In" "session" classNames="button"}}
    {{link-to "Sign Up" "signUp" classNames="button"}}
  {{/if}}
  </div>
</nav>
