<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Skedular</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%- if user_signed_in? %>
      <meta name="current-user" content="<%= UserSerializer.new(current_user).to_json(root: false) %>" />
    <% end %>
  </head>
  <body>
    <%= yield %>

    <script>
      window.App = require('app').default.create();
    </script>
  </body>
</html>
